html {
    font-size: 22px;
}

body {
    background-color: #ff0101a2;
    color: azure;
}

table,
tr,
th,
td,
caption {
    border: 1px solid #eee;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}